<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softwareapp.group9.doctorpatientapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".userprofile.LaunchScreen"
            android:screenOrientation="portrait"
            android:theme="@style/StandardTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity android:name=".registration.RegistrationActivity" android:theme="@style/StandardTheme" />
        <activity android:name=".userprofile.PatientProfileActivity"/>
        -->
        <activity
            android:name=".userprofile.ChoiceRegister"
            android:parentActivityName=".userprofile.LaunchScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userprofile.PatientRegister"
            android:parentActivityName=".userprofile.ChoiceRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userprofile.PatientLogin"
            android:parentActivityName=".userprofile.ChoiceRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userprofile.PatientDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userprofile.DoctorProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StandardTheme" />
        <activity
            android:name=".medicalcondition.ViewMedicalConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".consultdoctor.ConsultDoctorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".facilitiesnearme.FacilitiesNearMeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctorfeedback.DoctorFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userprofile.PatientProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorRegister"
            android:parentActivityName=".userprofile.ChoiceRegister"
            android:screenOrientation="portrait" />
        <!-- <activity android:name=".DoctorInformation" /> -->>
      <activity android:name=".DoctorDetails" />
      <activity android:name=".DoctorLogin" />
        <!-- <activity android:name=".DoctorProfile"></activity> -->>
 </application>

</manifest>